*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d7dadc;
}
    
header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    
}

.top-bar {
    text-align: center;
    font-size: 12px;
    padding: 8px;
    background: #f8f8f8;
    text-align: left;
    font-weight: bolder;
    color: #545353;
    padding-right: 200px;
    padding-left: 200px;

    
}
.top-bar span{
    text-align: right;
}
hr{
    margin: 0;
    color: #545353;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    padding-right: 200px;
    padding-left: 200px;
}



nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.donate-btn {
    background: #f5b400;
    padding: 10px 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
.navbar img{
    width: 30px;
    height: 20px;
    padding-left: 5px;
}


footer {
    background: #24485f;
    color: #fff;
    padding: 40px;
    padding-right: 200px;
    padding-left: 200px;
}

.footer-top {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.footer-columns h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-columns a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 6px;
}

.footer-columns a:hover {
    text-decoration: underline;
}
.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 15px;
    font-size: 12px;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
.top{
    display: flex;
    margin-right: 200px;
    margin-left: 200px;

    
}

.top .Head{
    font-size: 45px ;
    width:350px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: right;
    color: #666565;
}
.top .head2{
    width:340px;
    margin-left: 50px;
    font-size: 25px;
    margin-top: 20px;
    color: #507d73;
    line-height: 30px;


}
.top img{
    height: 100px;
    margin-top: 20px;
    margin-left:0px;

}
main{
    background-color: #e5ecef;
}
.up{
    margin-left: 250px;
    color: #164d83; 
    padding-left: 20px; 
    font-family: Open Sans, sans-serif;
}
.up2{
    margin-left: 250px;
    color: #254d68; 
    padding-top: 15px; 
    padding-left: 20px; 
    font-family: Open Sans, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.container {
    display: flex;
    margin: 20px;
}
.content {
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    width: 50%;
    margin-left: 250px;
    background-color: white;
    padding: 20px;
    padding-right: 40px;
    margin-right: 20px;
    color: #254d68; 
    padding-top: 30px;
}
.sidebar {
    height: 40%;
    background-color: #ffffff;
    margin-right: 250px;
}
#p1{
    padding-top: 20px;
    color: black;
    font-size: 1rem;
}
a{
    font-weight: bold;
    color: #2375c9;
}
#h3-1{
    margin-top: 5px;
    padding-left: 10px;
    color: #2375c9;
    font-family: Monorale, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
}
#h3-2{
    margin-top: 5px;
    padding-left: 10px;
    color: black;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
}
#h2-1{
    margin-top: 30px
}
input{
    padding: 7px;
    margin: 10px;
}
button{
    margin-top: 5px;
    padding: 7px;
    background-color: #2375c9;
    color: white;
    margin: 10px;
}
#hr1{
    width: 280px;
    height: 20px;
    background-color: #e5ecef;
    border: none;
}
.sidebar img{
    padding-left: 10px;
}
#btn1{
    width: 60%;
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #007cba;
    box-shadow: 5px 5px black;
    font-weight: bold ;
    font-size: 15px;
}
#btn1:hover{
    background-color: #005a87;
}
#a1{
    color: #254d68;
    font-weight: bold;
}


.main-content {
    background-color: #e5ecef;
    margin-left: 240px;
    margin-right: 250px;
    margin-top: 30px;
    padding: 30px;
    
    min-height: 400px;
    font-family: Open Sans, sans-serif;
    color: #254d68;
}

        
.cards-wrapper, .cards-wrapper1 {
    background-color: #e5ecef;
}

.cards-grid, .cards-grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.card, .card1 {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card img, .card1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3, .card1 h3 {
    padding: 18px;
    font-family: Open Sans, sans-serif;
    font-size: 1.1rem;
    color: #164d83;
    line-height: 1.4;
}
.main-content1 {
            background-color: #e5ecef;
            margin-top: 30px;
            padding: 30px;
            min-height: 400px;
            font-family: Open Sans, sans-serif;
            color: #254d68;
        }
#h1-1{
    font-family: Monorale, Helvetica, Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
nav {
    position: relative; 
    display: flex;
    justify-content: center;
    
}
.nav-item{
    position: static!important;
}
.dropdown {
    
    margin-top:20pxpx;
    background-color: #0962b6;
    
    display: none; 
    text-align:center;
    position: absolute;
    gap: 20px;
    left: 0; 
    right:0;
    padding-left: 200px;
    padding-right: 200px;
    
    width:110vw;
    z-index: 1000;
    margin-left: calc(50% - 50vw);
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.dropdown a {

    display: flex;
    padding: 10px 10px;
    color: #efecec;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.dropdown a:hover {
    background: #f2f2f2;
    color: black;
}


.nav-item:hover .dropdown {
    display: flex;
}
.search{
    display: none;
    background: rgba(4, 114, 199, 0.707);
    height:40%;
    position: fixed;
    margin:0;
    width: 100%;
}
.show-modal {
    display: block;  

}
.search-bar{
    width:40%;
    font-size: 25px;
    justify-content: center;
    background: rgba(4, 114, 199, 0.707);
    padding: 20px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}
.search-bar::placeholder{
    color: white;

}
.close-btn{
    font-size: 30px;
    text-align: right;
    cursor:pointer;
    padding: 20px;
    color: white;
    font-weight: lighter;
}
#search-btn{
    padding:0px;
    border: none;
    background-color: white;
    cursor:pointer;


}
.card h3:hover{
    color: #2375c9;
}
.card:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.card1 h3:hover{
    color: #2375c9;
}
.card1:hover{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.form{
background: #d7dadc;
margin:0%;
padding-bottom: 30px;
margin-top: 30px;
}
.join-us-container {
    
    background-color: #1e3a5f;
    color: #ffffff;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
}


.content-left {
    flex: 1;
    padding-right: 40px;
}

.content-left h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.content-left p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.content-left img {
    width: 120px;
    filter: brightness(0) invert(1); /* Makes the rabbit icon white */
}


.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-right label {
    font-size: 14px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
}

.input-group button {
    background-color: #00aeb7;
    color: white;
    border: none;
    padding: 0 30px;
    font-weight: bold;
    cursor: pointer;
   
}

.input-group button:hover {
    background-color: #008c94;
}
