* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
        body {
            background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10003/PE_2025-08_GFAD-Envigo-Beagle_DON-Lg.jpg?v=1769192245000");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        #hh1 {
            font-size: 2.25rem;
            color: #fff;
            font-weight: 400;
            margin-left: 350px;
            line-height: 1.2;
            margin-top: 80px;
        }

        .scroll-box {
            background-color: white;
            width: 30%;
            height: 100%;
            margin-left: 285px;
            border-radius: 10px;
            padding: 30px;
        }

        #p1 {
            padding-top: 30px;
            line-height: 23px;
        }

        #p2 {
            padding-top: 20px;
            line-height: 23px;
        }

        #hr1 {
            height: 5px;
            background-color: #347ad6;
        }

        .container {
            height: 40px;
            display: flex;
        }

        .box {
            height: 100%;
            width: 60%;

        }

        #b1 { 
            padding: 10px;
            text-align: center;
            width: 98%;
            color: black;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
        }

        #b2 {
            padding: 10px;
            text-align: center;
            width: 98%;
            color: black;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
        }
        #b3{
            margin-top: 10px;
            padding: 10px;
            text-align: center;
            width: 98%;
            color: black;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
        }
        #p3 {
            color: #347ad6;
            margin-top: 5px;
            margin-left: 20px;
        }

        #p3::first-letter {
            font-size: 30px;
        }
        .box1{
            margin-top: 10px;
            text-align: center;
            height: 100%;
            width: 60%;
        }
        button:hover{
            background-color: #347ad6;
            color: white;
        }
        #hr2{
            height: 5px;
            background-color: #347ad6;
        }
        .type{
            width: 100%;
            height: 40px;
        }
        #p4{
            color: gray;
            font-size: 13px;
        }
        .container3{
            height: 60px;
        }
        #bu1{
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: #2846F9;
            border-radius: 10px;
            cursor: pointer;
        }
        #bu2{
            margin-top: 10px;
            width: 100%;
            height: 100%;
            background-color: yellow;
            font-size: 20px;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
        }
        #s1{
            color: rgb(0, 0, 97);
        }
        #s2{
            color: #2846F9;
        }
        #bu3{
            margin-top: 20px;
            width: 100%;
            height: 100%;
            background-color: teal;
            font-size: 20px;
            font-weight: bold;
            color: white;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
        }
        #p5{
            text-align: center;
            font-size: 17px;
        }
        #p6{
            font-size: 13px;
            text-align: center;
        }
        .container4{
            border: solid;
            height: 130px;
            background-color: #e8b409;
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
        #p7{
            font-size: 17px;
        }
        .container5{
            height: 240px;
        }
        .container6{
            height: 80px;
        }
        #p8{
            font-size: 14px;
            color: rgb(180, 180, 180);
        }