* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

    
header {
    border-bottom: 1px solid #ddd;
}

.top-bar {
    text-align: center;
    font-size: 12px;
    padding: 8px;
    background: #f8f8f8;
    text-align: left;
    font-weight: bolder;
    color: #545353;
    padding-right: 200px;
    padding-left: 200px;
}
.top-bar span{
    text-align: right;
}
hr{
    margin: 0;
    color: #545353;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    padding-right: 200px;
    padding-left: 200px;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
.donate-btn {
    background: #f5b400;
    padding: 10px 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
.navbar img{
    width: 30px;
    height: 20px;
    padding-left: 5px;
}


footer {
    background: #24485f;
    color: #fff;
    padding: 40px;
    padding-right: 200px;
    padding-left: 200px;
}

.footer-top {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.footer-columns h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-columns a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 6px;
}

.footer-columns a:hover {
    text-decoration: underline;
}
.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 15px;
    font-size: 12px;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
.top{
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
}

.top .Head{
    font-size: 45px ;
    width:350px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: right;
    color: #666565;
}
.top .head2{
    width:340px;
    margin-left: 50px;
    font-size: 25px;
    margin-top: 20px;
    color: #507d73;
    line-height: 30px;


}
.top img{
    height: 100px;
    margin-top: 20px;
    margin-left:0px;

}
nav {
    position: relative; 
    display: flex;
    justify-content: center;
    
}
.nav-item{
    position: static!important;
}
.dropdown {
    
   
    background-color: #0962b6;
    
    display: none; 
    text-align:center;
    position: absolute;
    gap: 20px;
    left: 0; 
    right:0;
    padding-left: 200px;
    padding-right: 200px;
    
    width:110vw;
    z-index: 1000;
    margin-left: calc(50% - 50vw);
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}
.dropdown a {

    display: flex;
   padding: 10px;
    color: #eee9e9;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.dropdown a:hover {
    background: #f2f2f2;
    color: black;
}


.nav-item:hover .dropdown {
    display: flex;
}



main{
    background-color: #d7dadc;
    padding-right: 200px;
    padding-left: 200px;
}
.fline{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    gap:25px;
    padding:30px 40px;
}


.fline1{
    background:transparent;
    display: flex;
    flex-direction: column;
}


.img1{
    width:100%;
    height:380px;
    object-fit:cover;
    transition: transform 0.3s ease;
}
.img1:hover{
     transform: scale(1.02);
}

.fline1 .h2{
    background:white;
    padding:0px;
}
.h2 h2{
    padding-top: 10px;
    color:#074d58;
     text-align: center;
}
.h2 p{
    font-size: 12px;
    color: #2b7bb9;
    padding-top: 10px;
    text-align: center;
}
span{
    text-align: left;
    font-size: 12px;
    color: gray;
    margin-bottom: 0%;
    padding-left: 10px;
}
.b2{
    background-color: #0d60ad;
    color: white;
    margin: 10px;
    padding :10px;
    font-size: 12px;
    border: none;

}
.inthis a{
    
    text-decoration: none;
    

}
.inthis p{
    color: #03304c;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inthis hr{
    color: lightgray;
}


.pp{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:20px;
    height: 400px;
    margin-bottom: 220px;
}

.p1, .p2{
    background:white;
    
}
.p1 p{
    padding: 10px;
    padding-bottom:30px;
    color: gray;
}
.p2 p{
    padding: 10px;
    padding-bottom:50px;
    color: gray;
}

.pp img{
    width:100%;
    height:200px;
    
}

.p1 h4,
.p2 h4{
    font-size:18px;
    padding:10px;
    color:#2a8fa0;
    font-weight:600;
}

    

.ppp{
    display: flex;
    text-align: center;
    color: rgb(8, 8, 37);
    background-color: white;
    position: relative;
    margin-top: 300px;
    padding: 10px;
    gap:40px;
    border-top: 5px solid black;

}
.ppp p{
    color: gray;
}
.ppp img{
    width: 200pxpx;
    height: 100px;
}
.ppp button{
    background-color: #0b0b0b;
    color: white;
    font-weight: bolder;
    
    padding :5px;
    font-size: 14px;
    margin-right:10px ;
    margin-top: 20px;
}
.a{
    margin-bottom:40px ;

}



.fline2{
    display:flex;
    flex-direction:column;
    gap:20px;
    

}
.b{
    margin-top: 520px;
}


.fline2 > img{
    width:100%;
    border-radius:4px;
}


.update{
    background:white;
    padding:20px;
}

.update h4{
    margin-bottom:10px;
    color:#1f3b4d;
}

.email{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    margin-bottom:10px;
}

.submit{
    width:100%;
    padding:10px;
    background:#2b7bb9;
    color:white;
    border:none;
    cursor:pointer;
}


.links{
    background:white;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    justify-content:center;
}

.links img{
    width:40px;
    height:40px;
}


.inthis{
    background:white;
    padding:15px;
}


.fline2 div:last-child button{
    margin-top:10px;
    margin-left: 60px;
    width:50%;
    padding:12px;
    background:#2a8fa0;
    color:white;
    border:none;
    font-weight:bold;
    cursor:pointer;
}
.links> h4{
    padding-top: 10px;
}


button:hover{
    opacity:0.9;
}

.links img:hover{
    transform:scale(1.1);
    transition:0.3s;
}



.b1{
   
    background-color: #1c79cb;
    color: white;
    padding :10px;
    margin-top: 20px;
    margin: 30px;
    font-size: 20px;
    margin-right:200px;
    margin-left:200px;
}
.jjj{
    background:#d2cfcf  ;
}
.form{
    background: #d7dadc;
    margin:0%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.join-us-container {
    
    background-color: #1e3a5f;
    color: #ffffff;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
}


.content-left {
    flex: 1;
    padding-right: 40px;
}

.content-left h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.content-left p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.content-left img {
    width: 120px;
    filter: brightness(0) invert(1); /* Makes the rabbit icon white */
}


.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-right label {
    font-size: 14px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

.input-group input {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
}

.input-group button {
    background-color: #00aeb7;
    color: white;
    border: none;
    padding: 0 30px;
    font-weight: bold;
    cursor: pointer;
   
}

.input-group button:hover {
    background-color: #008c94;
}


.disclaimer {
    font-size: 11px;
    line-height: 1.5;
    color: #cccccc;
}

.disclaimer a {
    color: #ffffff;
    text-decoration: underline;
}
.tt{
    font-size: 14px;
    padding-left:10px;
    padding :10px;
}
.head{
    font-size: 25px;
    font-weight: lighter;
    padding-left:10px;
    padding:10px;
    color: #035155;
}
.headdd{
    font-size: 15px;
    color: rgb(92, 90, 90);
    padding: 10px;

}
.fline1 h2:hover{
    color:black;
    }
    h4:hover{
        color: gray;}
    h3:hover{
        color: gray;
    }
.search{
    display: none;
    background: rgba(4, 114, 199, 0.707);
    height:40%;
    position: fixed;
    margin:0;
    width: 100%;
    


}
.show-modal {
display: block;  

}
.search-bar{
    width:40%;
    font-size: 25px;
    justify-content: center;
    background: rgba(4, 114, 199, 0.707);
    padding: 20px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    
    
}
.search-bar::placeholder{
    color: white;
    
}
.close-btn{
    font-size: 30px;
    text-align: right;
    cursor:pointer;
    padding: 20px;
    color: white;
    font-weight: lighter;
    
    
}
#search-btn{
    padding:0px;
    border: none;
    background-color: white;
    cursor:pointer;
    
    
}
.newsmove{
    background-color: rgb(117, 139, 151);
    

}
.news-cards{
    display: flex;
    gap: 30px;
    padding: 20px;
    
}
.news-card img{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    padding: 10px;
    
}
.news-card{
    background-color: rgb(187, 206, 226);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    position: relative;
    align-items:center;
    text-align:center;
    width:max-content;
}
.news-card:hover{
    transform: scale(1.05);
}
.news-card h3{
    margin-top: 10px;
    ;
}







        
